<!-- app/views/products/index.html.erb -->

<a href="<%= new_product_path %>" class="btn btn-primary mb-3">Create Product</a>

<% @products.each do |product| %>
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text">Price: <%= number_to_currency(product.price) %></p>
      <p class="card-text">Quantity: <%= product.quantity %></p>

      <a href="<%= product_path(product) %>" class="btn btn-info">Show Product</a>
      <a href="<%= edit_product_path(product) %>" class="btn btn-warning">Edit Product</a>

      <%= button_to "Delete Product", product, method: :delete, form: { data: { turbo_confirm: "Are you sure to delete this product?" } }, class: "btn btn-danger", remote: true %>
    </div>
  </div>
<% end %>
